# {{ ansible_managed }}
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
mail_owner = postfix
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = all
myhostname = {{ postfix_myhostname }}
mydomain = {{ postfix_mydomain }}
myorigin = {{ postfix_myorigin }}
relayhost = {{ postfix_relayhost }}
mydestination =
local_transport = {{ postfix_local_transport }}
mynetworks = {{ postfix_mynetworks }}
mynetworks_style = {{ postfix_mynetworks_style }}

unknown_local_recipient_reject_code = 550
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

debug_peer_level = 2
debugger_command =
	 PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
	 ddd $daemon_directory/$process_name $process_id & sleep 5
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = postdrop
html_directory = no
